<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
<testsuites>
    <testsuite name="logger Test Suite">
        <file>tests/wxxiong6/logger/LoggerTest.php</file>
    </testsuite>
</testsuites>
<filter>
    <whitelist>
        <directory suffix=".php">./src/wxxiong6/logger</directory>
    </whitelist>
</filter>
</phpunit>